.about-us {
  padding: 29px 30px 62px 30px;
}

.about-us__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__item {
  padding-top: 124px;
}

@media (min-width: $tablet) {
  .about-us {
    padding: 52px 50px 84px 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__item {
    width: 50%;
    font-size: 20px;
    line-height: 22px;

    &--flower {
      order: 1;
    }

    &--clew {
      order: 2;
    }

    &--money {
      order: 3;
    }

    &--rocket {
      order: 4;
    }

    &--heart {
      order: 5;
    }

    &--prize {
      order: 6;
    }
  }
}

@media (min-width: $desktop) {
  .about-us {
    padding: 63px 50px 91px 50px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
}
