.about-us {
  padding: 29px 30px 0 30px;
}

.about-us__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__item {
  padding-top: 124px;
}
