.about-us__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__item {
  position: relative;
  padding-top: 84px;
}

.about-us__svg {
  position: absolute;
  fill: #63d1bb;

  &--flower {
    top: 33px;
    left: 8px;
  }

  &--money {
    top: 30px;
    left: 0;
  }

  &--heart {
    top: 35px;
    left: 7px;
  }

  &--ball {
    top: 32px;
    left: 3px;
  }

  &--rocket {
    top: 34px;
    left: -6px;
  }

  &--gift {
    top: 31px;
    left: 3px;
  }
}

@media (min-width: $tablet) {
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__title {
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__item {
    width: 50%;
    padding-top: 110px;
    font-size: 20px;
    line-height: 22px;

    &--flower {
      padding-top: 103px;
      order: 1;
    }

    &--ball {
      padding-top: 103px;
      order: 2;
    }

    &--money {
      order: 3;
    }

    &--rocket {
      order: 4;
    }

    &--heart {
      order: 5;
    }

    &--gift {
      order: 6;
    }
  }

  .about-us__svg {
    position: absolute;

    &--flower {
      top: 50px;
    }

    &--money {
      top: 58px;
    }

    &--heart {
      top: 62px;
    }

    &--ball {
      top: 53px;
    }

    &--rocket {
      top: 61px;
    }

    &--gift {
      top: 59px;
    }
  }
}

@media (min-width: $desktop) {
  .about-us {
    padding-left: 175px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__item {
    width: 40%;
  }
}
