.categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 25px 30px 17px 29px;
  color: #ffffff;
  fill: rgba(41, 165, 146, 0.5);
  background-color: #63d1bb;
  svg {
    position: relative;
    bottom: 2px;
    right: 7px;
  }

  &--darker {
    background-color: #56c3b2;

    svg {
      bottom: 5px;
      left: 3px;
    }
  }

  &:hover {
    transform: translateY(-5px);
    fill: rgba(41, 165, 146, 0.7);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    fill: rgba(41, 165, 146, 0.3);
  }
}

.categories__description {
  font-size: 19px;
  line-height: 24px;
}

@media (min-width: $tablet) {
  .categories {
    display: flex;
  }

  .categories__item {
    width: 50%;
  }

  .categories__link {
    padding: 28px 37px 41px 35px;

    svg {
      bottom: -2px;
      right: -1px;
    }

    &--darker svg {
      bottom: -3px;
      left: 3px;
    }
  }

  .categories__icon-iterior {
    top: 30px;
    right: 40px;
  }

  .categories__icon-toy {
    top: 30px;
    right: 33px;
  }

  .categories__description {
    font-size: 20px;
    line-height: 30px;
  }
}
