.categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__item {
  background-color: #63d1bb;
}

.categories__item--darker {
  background-color: #56c3b2;
}

.categories__link {
  display: block;
  padding: 28px 30px 30px 30px;
  color: #ffffff;
}

.categories__description {
  font-size: 19px;
  line-height: 24px;
}

@media (min-width: $tablet) {
  .categories {
    display: flex;
  }

  .categories__item {
    width: 50%;
}

.categories__link {
  padding: 33px 0 32px 35px;
}

  .categories__description {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop) {

}
