.categories-wrapper__title {
  font-size: 27px;
  line-height: 30px;
}

.categories-wrapper__image-header-container {
  min-height: 489px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 373px;
}

.categories {
  list-style: none;
}

.categories__item {
  background-color: #63d1bb;
}

.categories__item--darker {
  background-color: #56c3b2;
}

.categories__link {
  color: #fff;
}

.categories__description {
  font-size: 19px;
  line-height: 24px;
}
