.contacts-section {
  padding-bottom: 39px;
}

.contacts-section__main {
  margin-bottom: 41px;
  padding: 40px 30px 0 30px;
}

.contacts-section__write {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .contacts-section {
    padding-top: 63px;
    padding-bottom: 58px;
  }

  .contacts-section__main {
    margin-bottom: 60px;
    padding: 0 50px;
  }

  .contacts-section__write {
    width: 230px;
  }
}

@media (min-width: $desktop) {
  .contacts-section {
    position: relative;
    padding-top: 141px;
    padding-bottom: 105px;
  }

  .contacts-section__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 225px;
  }

  .contacts-section__map {
    position: absolute;
    right: 400px;
    top: 100px;
  }

  .contacts-section__main {
    padding: 0;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
}
