.copyright {
  min-height: 79px;
  padding: 19px 39px 23px 38px;
  font-size: 19px;
  line-height: 18px;
  vertical-align: middle;
}

.copyright__link {
  display: inline-flex;
  align-items: center;
  fill: rgba(70, 193, 172, 1);

  &:active {
    opacity: 0.3;
  }
}

.copyright__development {
  margin-right: 30px;
  color: #000000;
}

@media (min-width: $tablet) {
  .copyright {
    padding: 29px 0 19px 0;
  }
}
