.form-description__text {
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.form-description__text br {
  display: none;
}

@media (min-width: $tablet) {
  .form-description__text {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop) {
  .form-description__text {
    padding-left: 175px;
  }

  .form-description__text br {
    display: block;
  }
}
