.goods__list {
  margin: 0;
  padding: 0 30px;
  list-style: none;
}

.goods__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet) {
  .goods__list {
    padding: 0 50px;
  }

  .goods__item {
    width: 667px;
    min-height: 333px;
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop) {
  .goods__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
  }

  .goods__item {
    margin-bottom: 0;
  }
}

