.good-card__link {
  line-height: 24px;
  color: #000;
}

.good-card__value {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  color: #444;
  font-weight: 400;
}

.good-card__price {
  font-size: 15px;
  line-height: 24px;
}
