.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet) {
  .goods__item {
    min-height: 333px;
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop) {
  .goods__list {
    display: flex;
  }

  .goods__item {
    margin-bottom: 0;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}
