.inner-page-title {
  display: block;
  margin: 0 0 30px 0;
  padding: 70px 30px 76px 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;

  &--form {
    margin: 0 0 22px 0;
  }
}

@media (min-width: $tablet) {
  .inner-page-title {
    position: relative;
    margin: 0 0 65px 0;
    padding: 96px 50px 92px 50px;
    font-size: 43px;
    line-height: 50px;

    &--form {
      margin: 0 0 58px 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat;
      background-size: auto 100%;
      background-position-x: -5px;
    }
  }
}

@media (min-width: $desktop) {
  .inner-page-title {
    margin: 0 0 112px 0;
    padding: 94px 50px 120px 50px;
    font-size: 53px;
    line-height: 57px;

    &--form {
      margin: 0 0 104px 0;
    }

    &::after {
      height: 34px;
      background-position-x: -2px;
    }
  }
}
