.map__image {
  margin-bottom: 37px;
}

.map__write-container {
  margin: 0;
  padding: 0 30px;
}

@media (min-width: $tablet) {
  .map__write-container {
    padding: 0 50px;
    text-align: center;
  }

  .map__image {
    margin-bottom: 55px;
  }
}
