.modal {
  padding: 0 30px 0 30px;
}
.modal__title {
  font-size: 25px;
  line-height: 30px;
}

.modal__subtitle {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
