.page-footer {
  padding: 0 30px;
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet) {
  .page-footer {
    display: flex;
    align-items: center;
    padding: 51px 50px;
  }

  .page-footer__logo {
    display: block;
    margin-right: 160px;
  }

  .page-footer__social {
    margin-right: 82px;
  }
}
