.page-footer {
  padding: 0 30px;
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding: 51px 50px;
  }
}
