.reviews__item:not(:first-child) {
  display: none;
}

.reviews__title {
  margin: 0 0 23px 0;
  font-size: 25px;
  line-height: 30px;
}

.reviews__description {
  margin: 0 0 29px 0;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #444444;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;

  br {
    display: none;
  }
}

.reviews__author-section {
  display: inline-block;
  margin: 0 0 33px 0;
  font-style: normal;
}

.reviews__author-name {
  letter-spacing: 0.01em;
}

.reviews__author-email {
  display: inline-block;
  padding-top: 10px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
}

.reviews__inner-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__buttons {
  width: 260px;
  min-height: 52px;
  margin-bottom: 37px;
  font-size: 0;
}

.reviews__prev,
.reviews__next {
  width: 131px;
  padding: 10px 0;
  text-align: center;
  background: none;
  border: 2px solid #ececec;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
    outline: none;
  }
}

.reviews__next {
  margin-left: -2px;
}

@media (min-width: $tablet) {
  .reviews__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 78px;
    padding-bottom: 51px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 350px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    order: -2;
    margin: 0 auto 48px -5px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__description {
    margin-bottom: 60px;
    font-size: 17px;
  }

  .reviews__author-section {
    display: flex;
    flex-wrap: wrap;
    width: 257px;
    margin: 0;
  }

  .reviews__author-name {
    letter-spacing: 0.04em;
  }

  .reviews__write {
    order: -1;
    width: 175px;
    align-self: flex-start;
  }

  .reviews__buttons {
    position: absolute;
    bottom: 36px;
    right: 67px;
    width: 138px;
    margin: 0;
  }

  .reviews__prev,
  .reviews__next {
    width: 50px;
    padding: 0;
    border: none;
  }

  .reviews__prev {
    margin-right: 37px;
  }
}

@media (min-width: $desktop) {
  .reviews__list {
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 175px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__write {
    margin-top: 9px;
  }

  .reviews__description {
    margin-bottom: 42px;
    br {
      display: block;
    }
  }

  .reviews__author-name {
    letter-spacing: 0;
  }

  .reviews__buttons {
    bottom: 85px;
    right: 15px;
  }
}
