.reviews__title {
  font-size: 25px;
  line-height: 30px;
}

.reviews__description {
  font-family: "OpenSans", "Arial", sans-serif;
  color: #444;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.reviews__author-name {
  font-style: normal;
}

.reviews__author-email {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
}
