.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  padding: 30px 0 30px 0;
}

.site-list__item a {
  color: #000000;
}

@media (min-width: $tablet) {
  .site-list {
    font-size: 15px
  }
  .site-list__item {
    margin: 0 36px 0 0;
    padding: 0;
  }
}

@media (min-width: $desktop) {
  .site-list {
    font-size: 17px;
  }
}
