.social__list {
  display: flex;
  align-items: center;
  min-height: 82px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #ececec;
}

.social__item {
  position: relative;
  margin-right: 43px;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    right: 5px;
    margin-right: auto;
  }
}

.social__link {
  transition: hover 0.1s;

  &:hover {
    fill: rgba(70, 193, 172, 1);
  }

  &:active {
    fill: rgba(70, 193, 172, 0.3);
  }
}

@media (min-width: $tablet) {
  .social__list {
    border-bottom: none;
  }

  .social__item {
    top: 6px;
  }
}
