.social__list {
  display: flex;
  align-items: center;
  min-height: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #ececec;
}

.social__item {
  margin-right: 40px;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }
}

@media (min-width: $tablet) {
  .social__list {
    border-bottom: none;
  }
}
