.top-goods__title {
  margin: 0 0 6px 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
}

.top-goods__title-section {
  margin: 0 0 22px 0;
}

.top-goods__subtitle {
  font-size: 17px;
  line-height: 20px;
  color: #56c3b2;
  text-transform: uppercase;
}

.top-goods__description,
.top-goods__list {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.top-goods__description {
  margin-bottom: 20px;
}

.top-goods__list {
  border-collapse: collapse;
}

.top-goods__list td:first-child {
  width: 68px;
  display: inline-block;
  margin-right: 29px;
}

.top-goods__list td:last-child {
  width: 193px;
}

.top-goods__description-section {
  margin-bottom: 29px;
}

.top-goods__property,
.top-goods__value {
  padding: 5px 0 9px 0;
}

.top-goods__list tr {
  border-bottom: 1px solid #ececec;
}

.top-goods__image-description {
  margin-bottom: 20px;
}

.top-goods__image-wrapper {
  margin: 0;
}

.top-goods__price-section {
  text-align: center;
}

.top-goods__price {
  display: inline-block;
  margin-bottom: 26px;
  line-height: 24px;
  color: #444444;
}

@media (min-width: $tablet) {
  .top-goods__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .top-goods__title-section {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
  }

  .top-goods__title {
    margin: 0 150px 0 0;
    font-size: 43px;
    line-height: 50px;
  }

  .top-goods__subtitle {
    display: block;
    width: 70px;
    margin-right: 20px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .top-goods__description-section,
  .top-goods__price-section {
    width: 291px;
  }

  .top-goods__description {
    margin-bottom: 52px;
    font-size: 17px;
    line-height: 30px;
  }

  .top-goods__list {
    font-size: 15px;
    line-height: 24px;
  }

  .top-goods__description-section {
    margin-bottom: 58px;
  }

  .top-goods__image-description {
    position: absolute;
    top: 80px;
    right: 20px;
  }

  .top-goods__price {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop) {
  .top-goods__wrapper {
    padding-left: 175px;
  }

  .top-goods__title {
    font-size: 53px;
    line-height: 57px;
  }

  .top-goods__subtitle {
    position: absolute;
    left: 0;
    order: -1;
    width: 175px;
    padding-left: 47px;
    padding-right: 56px;
  }

  .top-goods__description {
    margin-bottom: 66px;
  }

  .top-goods__description-section {
    margin-bottom: 109px;
  }
}
