.top-goods {
  padding: 30px 0 36px 0;
  border-bottom: 6px solid #f2f2f2;
}

.top-goods__wrapper {
  padding: 0 30px 0 30px;
}

.top-goods__title {
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 25px;
  line-height: 30px;
}

.top-goods__subtitle {
  font-size: 17px;
  line-height: 20px;
  color: #56c3b2;
  text-transform: uppercase;
}

.top-goods__description,
.top-goods__list {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.top-goods__list {
  margin: 0 0 28px 0;
  border-collapse: collapse;
}

.top-goods__description {
  margin: 0 0 21px 0;
}

.top-goods__property,
.top-goods__value {
  padding: 13px 0 11px 0;
  border-bottom: 1px solid #ececec;
}

.top-goods__image-description {
  margin: 0 0 28px 0;
}

.top-goods__price {
  display: inline-block;
  margin: 0 0 29px 0;
  line-height: 24px;
  color: #444444;
}

@media (min-width: $tablet) {
  .top-goods {
    padding: 50px 0 0 0;
  }
  .top-goods__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 50px 0 50px;
  }

  .top-goods__title-section {
    display: flex;
    margin-bottom: 36px;
  }

  .top-goods__title {
    margin: 0 150px 0 0;
    font-size: 43px;
    line-height: 50px;
  }

  .top-goods__subtitle {
    display: block;
    width: 70px;
    margin-right: 20px;
    font-size: 17px;
    line-height: 17px;
  }

  .top-goods__description-section,
  .top-goods__price-section {
    width: 291px;
  }

  .top-goods__description {
    margin-bottom: 54px;
    font-size: 17px;
    line-height: 30px;
  }

  .top-goods__list {
    font-size: 15px;
    line-height: 24px;
  }

  .top-goods__description-section {
    margin-bottom: 62px;
  }

  .top-goods__image-description {
    position: absolute;
    top: 80px;
    right: 20px;
  }

  .top-goods__price {
    font-size: 20px;
    line-height: 24px;
  }
}
