.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list__item {
  padding: 30px;
  border-bottom: 1px solid #ececec;
}

.user-list__item a {
  position: relative;
  padding-left: 46px;
  color: #000000;
  line-height: 24px;
}

.user-list__icon-search {
  position: absolute;
  top: 4px;
  left: 4px;
}

.user-list__icon-cart {
  position: absolute;
  top: 4px;
  left: 4px;
}


@media (min-width: $tablet) {
  .user-list__item {
    padding: 0;
  }
}
