.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list__item {
  border-bottom: 1px solid #ececec;
}

.user-list__item a {
  display: block;
  position: relative;
  padding: 30px 30px 30px 76px;
  color: #000000;
  line-height: 24px;
}

.user-list__icon-search {
  position: absolute;
  top: 31px;
  left: 32px;
}

.user-list__icon-cart {
  position: absolute;
  top: 30px;
  left: 30px;
}


@media (min-width: $tablet) {
  .user-list__item {
    padding: 0;
  }
}
