.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list__item {
  border-bottom: 1px solid #ececec;
}

.user-list__item a {
  display: block;
  position: relative;
  padding: 30px 30px 30px 54px;
  color: #000000;
  line-height: 24px;
  fill: #d3d2d2;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
    fill: rgba(99, 209, 197, 1);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    fill: rgba(99, 209, 187, 0.3);
  }
}

@media (min-width: $tablet) {
  .user-list {
    height: 100%;
  }

  .user-list__item {
    border: none;

    a {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      min-height: 100%;
      padding: 0;
    }

    &--search {
      width: 83px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;

      a {
        justify-content: center;
      }
    }

    &--cart {
      a {
        padding: 31px 0 31px 30px;
      }

      svg {
        margin-right: 33px;
      }
    }
  }

  .user-list__item-desc {
    display: none;
  }
}
